#content{
    max-width: 1600;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #D8A7CA;
    text-decoration: none;
    padding: 35px;
}

h1, h4{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.home-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 10px;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: #49111C;
}

body{
    background-color: #465775;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header{
    background-color: #49111C;
}
nav a:hover{
    background-color: #D8A7CA;
    color: white;
}
.book, .join{
    background-color: #49111C;
    color: #D8A7CA;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #D8A7CA;
    color: white;
}
.msg{
    font-family: 'Courier New', Courier, monospace;
    background-color: #81D6E3;
    font-size: .8em;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: #49111C;
}

.home-title{
    color: #81D6E3;
}
h4{
    color: #81D6E3;
}
.msg h2{
    color: #49111C;
}
.msg p{
    color: #465775;
    padding-bottom: 15px;
}
footer h3{
    color: #81D6E3;
}
footer h3 a:hover{
    text-decoration: underline;
}
footer a{
    color: #D8A7CA;
    text-decoration: none;
}
footer a:hover{
    color: white;
    text-decoration: none;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img{
    width: 480px;
}
.card-img{
    width: 480px;
    border: 10px solid black;
}
.mountains{
    width: 480px;
}
#logolink{
    padding-top: 5px;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img{
    padding: 25px 50px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}   
main section img {
    box-sizing: border-box;
}